@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71% 4%;
    --card: 208 100% 97%;
    --card-foreground: 224 71% 4%;
    --popover: 208 100% 97%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 240 67% 94%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 67% 94%;
    --muted-foreground: 224 71% 25%;
    --accent: 240 67% 94%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 71% 85%;
    --input: 197 71% 85%;
    --ring: 197 71% 73%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 208 100% 97%;
    --card: 224 71% 4%;
    --card-foreground: 208 100% 97%;
    --popover: 224 71% 4%;
    --popover-foreground: 208 100% 97%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 208 100% 97%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 5% 15%;
    --accent-foreground: 208 100% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 197 71% 73%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
